@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap');
%primary-button{
    padding: 10px 30px;
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.8);
    }
}