#meet-consultants{
    padding: 30px 0;
    .consultants-section-body{
        .section-heading{
            @include flexbox;
            align-items: start;
            h1{
                width: 50%;
                font-weight: 900;
                font-size: 40px;
            }
            p{
                width: 50%;
            }
            @media screen and (max-width:1024px){
                flex-direction: column;
                h1{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
            }
        }
        .all-consultants{
            padding: 50px 0 ;
            @include flexbox;
            justify-content: space-around;
            gap: 30px;
           .single-consultant{ 
            img{
                width: 100%
            }             
            .consultant-data{
                @include flexbox;
                flex-direction: column;
                align-items: start; 
                .btn{
                    text-transform: uppercase;
                    border-bottom: 1px solid black;
                    border-radius: 0px;
                    padding: 0;
                }  
                .offcanvas{
                    .offcanvas-body{
                        p{
                            font-weight: 900;
                            margin: 0;
                            margin-top: 20px;
                        }
                    }
                }
                .modal{
                   .modal-dialog{
                    .all-events{
                        @include flexbox;
                        flex-direction: column;
                        gap: 50px;
                        padding: 50px;
                        .btn{
                        @include flexbox;
                        justify-content: space-between;
                        gap: 50px;
                        .event-name{
                            font-size: 16px;
                            font-weight: 700;
                        }
                        }
                    }
                    .modal-body{
                        p{
                            text-align: center;
                            span{
                                font-weight: 900
                            }
                        }
                        .part-of-day{
                            @include flexbox;
                            padding: 30px;
                            justify-content: space-around;
                            .am-time , .pm-time{
                            @include flexbox;
                            flex-direction: column;
                            gap: 10px;
                            }
                        }
                    }
                   } 
                }          
            }
           } 
           @media screen and (max-width:767px){
            flex-wrap: wrap;
           }
        }

    }
}