header{
    .container{
        nav{
            ul{
                li{
                    .log-out{
                        border: none;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

#offcanvas-basket{
    .offcanvas-header{
        border-bottom: 1px solid grey;
    }
    .offcanvas-body{
        @include flexbox;
        justify-content: space-between;
        flex-direction: column;     
        .all-basket-items{
            @include flexbox;
            flex-direction: column;
            gap: 20px;
            .basket-item{
                @include flexbox;
                border-bottom: 1px solid grey;
                img{
                    width: 40%;
                }
                .basket-info{
                    .basket-actions{
                        @include flexbox;
                        justify-content: space-between;
                        button{
                            border: none;
                        }
                    }
                }
            }
        }
        .offcanvas-footer{
            border-top: 1px solid grey;
            padding: 20px;
            width: 100%;
            @include flexbox;
            justify-content: space-between;
            .orderNow{
                padding: 10px 20px;
                color: white;
                background-color: #6ebe7e;
            }
        }
    }
}
#home-account{
    .container{
        .account-body{
            .section-heading{
                padding: 20px 10px;
                border-bottom: 1px dashed #8C971A;
            }
            .all-orders{
                @include flexbox;
                gap: 20px;
                .orderedProd{
                width: 300px;
                @include flexbox;
                flex-direction: column;
                gap: 10px;
                    img{
                        width: 100%;
                    }
                    .btn{
                        border: 2px dashed #8C971A;
                    }
                    .review-modal{
                        .modal-body{
                            @include flexbox;
                            textarea{
                                outline: none;
                                border: 2px solid #8C971A;
                                padding: 10px;
                            }
                            .rating {
                                display: flex;
                                flex-direction: row-reverse;
                                gap: 0.3rem;
                                --stroke: #666;
                                --fill: #ffc73a;
                              }
                            .sendReview{
                                @extend %styled-button;
                                border:2px solid #8C971A;
                                &:hover{
                                    background-color: #8C971A;
                                }
                            }
                              .rating input {
                                appearance: unset;
                              }
                              
                              .rating label {
                                cursor: pointer;
                              }
                              
                              .rating svg {
                                width: 3rem;
                                height: 3rem;
                                overflow: visible;
                                fill: transparent;
                                stroke: var(--stroke);
                                stroke-linejoin: bevel;
                                stroke-dasharray: 12;
                                animation: idle 4s linear infinite;
                                transition: stroke 0.2s, fill 0.5s;
                              }
                              
                              @keyframes idle {
                                from {
                                  stroke-dashoffset: 24;
                                }
                              }
                              
                              .rating label:hover svg {
                                stroke: var(--fill);
                              }
                              
                              .rating input:checked ~ label svg {
                                transition: 0s;
                                animation: idle 4s linear infinite, yippee 0.75s backwards;
                                fill: var(--fill);
                                stroke: var(--fill);
                                stroke-opacity: 0;
                                stroke-dasharray: 0;
                                stroke-linejoin: miter;
                                stroke-width: 8px;
                              }
                              
                              @keyframes yippee {
                                0% {
                                  transform: scale(1);
                                  fill: var(--fill);
                                  fill-opacity: 0;
                                  stroke-opacity: 1;
                                  stroke: var(--stroke);
                                  stroke-dasharray: 10;
                                  stroke-width: 1px;
                                  stroke-linejoin: bevel;
                                }
                              
                                30% {
                                  transform: scale(0);
                                  fill: var(--fill);
                                  fill-opacity: 0;
                                  stroke-opacity: 1;
                                  stroke: var(--stroke);
                                  stroke-dasharray: 10;
                                  stroke-width: 1px;
                                  stroke-linejoin: bevel;
                                }
                              
                                30.1% {
                                  stroke: var(--fill);
                                  stroke-dasharray: 0;
                                  stroke-linejoin: miter;
                                  stroke-width: 8px;
                                }
                              
                                60% {
                                  transform: scale(1.2);
                                  fill: var(--fill);
                                }
                              }
                              
                        }
                        .modal-footer{
                            .btn{
                                border-radius: 0;
                                border: 1px solid #666;
                            }
                        }
                    }
                }
                @media screen and (max-width:567px){
                    flex-direction: column;
                }
            }
        }
    }
}