#offcanvas-basket{
    .offcanvas-header{
        border-bottom: 1px solid grey;
    }
    .offcanvas-body{
        @include flexbox;
        justify-content: space-between;
        flex-direction: column;     
        .all-basket-items{
            @include flexbox;
            flex-direction: column;
            gap: 20px;
            .basket-item{
                @include flexbox;
                border-bottom: 1px solid grey;
                img{
                    width: 40%;
                }
                .basket-info{
                    .basket-actions{
                        @include flexbox;
                        justify-content: space-between;
                        button{
                            border: none;
                        }
                        .inc , .dec{
                            font-size: 20px;
                            padding: 5px 10px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
        .offcanvas-footer{
            border-top: 1px solid grey;
            padding: 20px;
            width: 100%;
            @include flexbox;
            justify-content: space-between;
            a{
                padding: 10px 20px;
                color: white;
                background-color: #6ebe7e;
            }
        }
    }
}


#home-account{
    .container{
        .account-body{
            .section-heading{
                padding: 20px 10px;
                border-bottom: 1px dashed #8C971A;
            }
            .all-orders{
                @include flexbox;
                gap: 20px;
                .orderedProd{
                @include flexbox;
                flex-direction: column;
                    img{
                        width: 100%;
                    }
                }
                @media screen and (max-width:567px){
                    flex-direction: column;
                }
            }
        }
    }
}