
#admin-home{
    background-color: #152036;
    .container{
        .progress-part{
            @include flexbox;
            justify-content: space-between;
            gap: 20px;
            padding: 50px 0;
            background-color: #152036;
            .single-progress{
               width: 400px;
               margin: 20px ;
               padding: 20px;
               .progress-text{
                @include flexbox;
                gap: 20px;
               }
                .progress{
                    background-color: white;
                    .progress-bar{
                        background-color: #24C79F;
                    }
                }
            }
        }
        canvas {
            max-width: 800px;
            margin: 0 auto;
        }
    }
}