
#admin-home{
    background-color: #152036;
    padding: 100px;
    .container{
        .progress-part{
            @include flexbox;
            justify-content: space-between;
            gap: 20px;
            padding: 50px 0;
            background-color: #152036;
            .single-progress{
               width: 400px;
               height: 150px;
               margin: 20px ;
               padding: 20px;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               .progress-text{
                @include flexbox;
                gap: 20px;
               }
                .progress{
                    background-color: white;
                    .progress-bar{
                        background-color: #24C79F;
                    }
                }
            }
        }
        .canvas{
            @include flexbox;
            flex-direction: column;
            gap: 100px;
           canvas{
            width: 800px;
            margin: 0 auto;
           }
        }
    }
}