#edit-products{
    padding: 50px;
    background-color: #152036;
    .edit-form{
        @include flexbox;
        flex-direction: column;
        gap: 50px;
        padding: 20px 0;
        form{
            width: 600px;
            .form-control{
                background-color: #152036;
                color: white;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .btn{
                background-color: #152036;
                border: 1px solid black;
            }
        }
    }
}