@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
* ::-moz-selection {
  background-color: #612B72;
  text-shadow: 5px 5px 18px whitesmoke;
}
* ::selection {
  background-color: #612B72;
  text-shadow: 5px 5px 18px whitesmoke;
}

#home .section-body .section-text button, #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-footer button, #bestseller .all-images .single-image .modal .modal-dialog .modal-footer button {
  padding: 10px 30px;
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 800;
}
#home .section-body .section-text button:hover, #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-footer button:hover, #bestseller .all-images .single-image .modal .modal-dialog .modal-footer button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller #modal-btn, #laser-smart .section-body .section-text button, #bestseller .go-bestseller, #bestseller .all-images .single-image #modal-btn, #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt .rating-add-bag .add-bag button, #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .price button, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .price button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #ADDDB7;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller #modal-btn:hover, #laser-smart .section-body .section-text button:hover, #bestseller .go-bestseller:hover, #bestseller .all-images .single-image #modal-btn:hover, #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt .rating-add-bag .add-bag button:hover, #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .price button:hover, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .price button:hover {
  background: #ADDDB7;
  box-shadow: 0 0 30px 5px #061309 95, 26, 122, 0.815;
  transition: all 0.2s ease-out;
  color: white;
}

#bestseller .all-images .single-image .card {
  overflow: visible;
  height: 300px;
  width: 270px;
}
#bestseller .all-images .single-image .card .content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 500ms;
  box-shadow: 0px 0px 10px 1px rgba(154, 73, 165, 0.9333333333);
  border-radius: 5px;
}
#bestseller .all-images .single-image .card .front, #bestseller .all-images .single-image .card .back {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
#bestseller .all-images .single-image .card .front .front-content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
}
#bestseller .all-images .single-image .card .front .front-content .slider-text {
  text-align: center;
}
#bestseller .all-images .single-image .card .front .front-content .slider-text #price {
  font-size: 32px;
}
#bestseller .all-images .single-image .card .back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#bestseller .all-images .single-image .card .back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}
#bestseller .all-images .single-image .card .back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #fff;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#bestseller .all-images .single-image .card .back-content img {
  width: 100%;
  height: 100%;
}

#get-in-touch .container .section-body .subscription .input-group {
  position: relative;
}

.input {
  border: solid 1.5px #9e9e9e;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: black;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus, input:valid {
  outline: none;
  border: 1.5px solid black;
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ADDDB7;
  padding: 0 0.2em;
  color: black;
}

#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body, #bestseller .all-images .single-image .modal .modal-dialog .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body img, #bestseller .all-images .single-image .modal .modal-dialog .modal-body img {
  width: 320px;
  height: 100%;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text h1, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text h1 {
  text-align: start;
  font-weight: 700;
  font-size: 28px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text p, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text p {
  font-size: 20px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .rating .rated-star, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .rating .rated-star {
  display: none;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .quantity, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .quantity .inc-dec, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .quantity .inc-dec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .quantity .inc-dec button, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .quantity .inc-dec button {
  border: none;
  font-size: 32px;
  font-weight: 600;
  background-color: transparent;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .quantity .inc-dec #amount, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .quantity .inc-dec #amount {
  font-size: 24px;
  font-weight: 600;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .price, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .price {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .price button, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .price button {
  color: black;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .modal .modal-dialog .modal-body .modal-text .price button:hover, #bestseller .all-images .single-image .modal .modal-dialog .modal-body .modal-text .price button:hover {
  color: white;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt {
  display: none;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt p {
  width: 100%;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt .rating-add-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt .rating-add-bag .rating .rated-star {
  display: none;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt .rating-add-bag .add-bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller .mobile-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: start;
  }
}

header {
  background-color: white;
  padding: 10px 0;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header h1 a {
  color: black;
}
header .header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 0;
  margin-right: 20px;
}
header .header nav ul li a {
  font-weight: 700;
  color: black;
  border-bottom: 1px solid transparent;
}
header .header nav ul li a:hover {
  transition: 0.8s;
  border-bottom-color: black;
}
header .header .icons {
  display: flex;
  gap: 20px;
}
header .header .icons i {
  color: black;
  font-size: 24px;
}
header .header .icons .fa-bars {
  display: none;
}
header .mobile-header {
  display: none;
}
@media screen and (max-width: 1023px) {
  header {
    padding: 10px 20px;
  }
  header .header nav {
    display: none;
  }
  header .header .icons .fa-bars {
    display: block;
  }
  header .header.hide {
    display: none;
  }
  header .mobile-header {
    display: none;
  }
  header .mobile-header.show {
    display: block;
  }
  header .mobile-header .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  header .mobile-header .mobile-nav h1 a {
    color: black;
  }
  header .mobile-header .mobile-nav .fa-x {
    color: black;
    font-size: 24px;
  }
  header .mobile-header nav ul {
    padding: 0;
  }
  header .mobile-header nav ul li {
    margin-bottom: 20px;
  }
  header .mobile-header nav ul li a {
    font-weight: 700;
    color: black;
    border-bottom: 1px solid transparent;
  }
  header .mobile-header nav ul li a:hover {
    transition: 0.8s;
    border-bottom-color: black;
  }
}

#home .section-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url(../../images/summer30_lmw_pc@2x.jpg);
  background-position: center;
  background-size: cover;
}
#home .section-body .section-text {
  width: 100%;
  padding: 100px;
}
#home .section-body .section-text h1 {
  font-size: 60px;
  font-weight: 700;
}
@media screen and (max-width: 567px) {
  #home .section-body .section-text h1 {
    font-size: 40px;
  }
}
#home .section-body .section-text p {
  margin: 0;
}
#home .section-body .section-text span {
  font-weight: 700;
}
#home .section-body .section-text button {
  letter-spacing: 1px;
  margin: 20px 0;
}
#home .section-body .section-text .pale-text {
  font-size: 12px;
  color: #999999;
}
#home .section-body .section-img {
  display: none;
}
@media screen and (max-width: 1023px) {
  #home .section-body {
    background-image: none;
    flex-direction: column-reverse;
  }
  #home .section-body .section-img {
    display: block;
  }
  #home .section-body .section-img img {
    width: 100%;
  }
  #home .section-body .section-text {
    padding: 50px;
  }
}

#discount-section {
  background-color: #ADDDB7;
}
#discount-section .section-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#discount-section .section-body .discounted-product img {
  width: 100%;
}
#discount-section .section-body .discount-time {
  padding: 50px;
  text-align: center;
}
#discount-section .section-body .discount-time h1 {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  color: #F6F6F6;
}
@media screen and (max-width: 1023px) {
  #discount-section .section-body .discount-time h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 767px) {
  #discount-section .section-body .discount-time h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 567px) {
  #discount-section .section-body .discount-time h1 {
    font-size: 28px;
  }
}
#discount-section .section-body .discount-time .decreasing-time {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}
#discount-section .section-body .discount-time .decreasing-time div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  width: 100%;
}
#discount-section .section-body .discount-time .decreasing-time div h2 {
  font-size: 40px;
  color: #F6F6F6;
}
@media screen and (max-width: 1023px) {
  #discount-section .section-body .discount-time .decreasing-time div h2 {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  #discount-section .section-body .discount-time .decreasing-time div h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 567px) {
  #discount-section .section-body .discount-time .decreasing-time div h2 {
    font-size: 20px;
  }
}
#discount-section .section-body .discount-time .decreasing-time div span {
  font-size: 24px;
  color: #F6F6F6;
}
@media screen and (max-width: 767px) {
  #discount-section .section-body .discount-time .decreasing-time div span {
    font-size: 20px;
  }
}
@media screen and (max-width: 567px) {
  #discount-section .section-body .discount-time .decreasing-time div span {
    font-size: 16px;
  }
}
#discount-section .section-body .discount-time .decreasing-time div:first-child, #discount-section .section-body .discount-time .decreasing-time div:nth-child(2), #discount-section .section-body .discount-time .decreasing-time div:nth-child(3) {
  border-right: 2px solid black;
}
#discount-section .section-body .discount-time button {
  margin-top: 50px;
  position: relative;
  padding: 12px 35px;
  background: #F6F6F6;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #F6F6F6;
  border-radius: 8px;
  box-shadow: 0 0 0 rgba(254, 193, 149, 0.5490196078);
  transition: all 0.3s ease-in-out;
}
#discount-section .section-body .discount-time .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
#discount-section .section-body .discount-time .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
#discount-section .section-body .discount-time .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
#discount-section .section-body .discount-time .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
#discount-section .section-body .discount-time .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
#discount-section .section-body .discount-time .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}
#discount-section .section-body .discount-time button:hover {
  background: transparent;
  color: #F6F6F6;
  box-shadow: 0 0 25px rgba(254, 193, 149, 0.5490196078);
}
#discount-section .section-body .discount-time button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
#discount-section .section-body .discount-time button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
#discount-section .section-body .discount-time button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
#discount-section .section-body .discount-time button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
#discount-section .section-body .discount-time button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
#discount-section .section-body .discount-time button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
#discount-section .section-body .discount-time .fil0 {
  fill: #FFFDEF;
}
@media screen and (max-width: 1023px) {
  #discount-section .section-body {
    flex-direction: column;
  }
  #discount-section .section-body .discount-time .decreasing-time {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  #discount-section .section-body .discount-time .decreasing-time div:first-child, #discount-section .section-body .discount-time .decreasing-time div:nth-child(2), #discount-section .section-body .discount-time .decreasing-time div:nth-child(3) {
    border: none;
  }
}

#bestseller {
  padding: 100px 0;
  background-color: #F6F6F6;
}
#bestseller h1 {
  text-align: center;
  margin-bottom: 50px;
}
#bestseller .all-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#bestseller .all-images .single-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
  height: 450px;
}
#bestseller .all-images .single-image .card:hover .content {
  transform: rotateY(180deg);
}
@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }
  0% {
    transform: rotateZ(360deg);
  }
}
#bestseller .all-images .single-image .card .front {
  transform: rotateY(180deg);
  color: white;
}
#bestseller .all-images .single-image #modal-btn {
  color: black;
}
#bestseller .all-images .single-image #modal-btn:hover {
  color: white;
}
@media screen and (max-width: 1200px) {
  #bestseller .all-images .single-image #modal-btn {
    display: none;
  }
}
#bestseller .all-images .single-image .mobile-txt {
  display: none;
  width: 100%;
}
#bestseller .all-images .single-image .mobile-txt p {
  text-align: center;
}
#bestseller .all-images .single-image .mobile-txt .rating-add-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#bestseller .all-images .single-image .mobile-txt .rating-add-bag .rating .rated-star {
  display: none;
}
#bestseller .all-images .single-image .mobile-txt .rating-add-bag .add-bag button {
  border: none;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 1200px) {
  #bestseller .all-images .single-image .mobile-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  #bestseller .all-images {
    flex-wrap: wrap;
  }
}
#bestseller .go-bestseller {
  margin: 30px 0;
  color: black;
}
#bestseller .go-bestseller:hover {
  color: white;
}

#laser-smart {
  background-image: url(../../images/laser-smart-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
#laser-smart .section-body .section-img img {
  display: none;
  width: 100%;
}
#laser-smart .section-body .section-text {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
#laser-smart .section-body .section-text h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 20px 0;
}
#laser-smart .section-body .section-text p {
  text-transform: uppercase;
}
#laser-smart .section-body .section-text h4 {
  font-weight: 600;
}
#laser-smart .section-body .section-text button {
  color: black;
  margin: 10px 0;
}
#laser-smart .section-body .section-text button:hover {
  color: white;
}
#laser-smart .section-body .section-text span {
  color: #999;
  font-size: 12px;
}
@media screen and (max-width: 1024px) {
  #laser-smart {
    background-image: none;
  }
  #laser-smart .section-body .section-img img {
    display: block;
  }
  #laser-smart .section-body .section-text {
    width: 100%;
  }
}

#services {
  background-color: #ADDDB7;
  padding: 50px 0;
  margin-top: 50px;
}
#services .container h1 {
  margin: 30px 0;
}
#services .container .all-services {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#services .container .all-services .single-service {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
#services .container .all-services .single-service img {
  width: 100%;
  margin-bottom: 40px;
}
#services .container .all-services .single-service p {
  font-weight: 700;
  font-size: 20px;
}
#services .container .all-services .single-service a {
  text-transform: uppercase;
  color: black;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 1024px) {
  #services .container .all-services {
    flex-direction: column;
    gap: 50px;
  }
  #services .container .all-services .single-service {
    width: 100%;
  }
  #services .container .all-services .single-service p {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  #services .container .all-services {
    flex-direction: column;
    gap: 50px;
  }
}

#get-in-touch {
  background-color: #ADDDB7;
  margin-top: 50px;
  padding: 70px 0;
}
#get-in-touch .container .section-body .subscription p {
  font-size: 12px;
}
#get-in-touch .container .section-body .subscription .input-group form .submit {
  background-color: #ADDDB7;
  padding: 1rem;
}

#skin-services .section-body .section-bg img {
  width: 100%;
}

#clinical-realty {
  background-color: #E5F3E3;
  padding: 50px;
  margin: 50px 0;
}
#clinical-realty .container .allservices {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
#clinical-realty .container .allservices .image img {
  width: 100%;
}
#clinical-realty .container .allservices .image p {
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  #clinical-realty .container .allservices {
    flex-wrap: wrap;
  }
  #clinical-realty .container .allservices .image img {
    width: 90%;
  }
}

#how-tos .container .all-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#how-tos .container .all-videos .single-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  width: 50%;
}
#how-tos .container .all-videos .single-video img {
  width: 100%;
}
#how-tos .container .all-videos .single-video .modal .modal-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}
#how-tos .container .all-videos .single-video .modal .modal-content .modal-header {
  position: absolute;
  z-index: 44;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
}
#how-tos .container .all-videos .single-video .modal .modal-content .modal-body {
  padding: 0;
}
#how-tos .container .all-videos .single-video .modal .modal-content .modal-body video {
  width: 100%;
}
#how-tos .container .all-videos .single-video .modal .modal-content .modal-footer {
  margin: 0;
  border: none;
}
#how-tos .container .all-videos .single-video h3 {
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  #how-tos .container .all-videos {
    flex-direction: column;
  }
  #how-tos .container .all-videos .single-video {
    width: 100%;
  }
}

#meet-consultants {
  padding: 30px 0;
}
#meet-consultants .consultants-section-body .section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
}
#meet-consultants .consultants-section-body .section-heading h1 {
  width: 50%;
  font-weight: 900;
  font-size: 40px;
}
#meet-consultants .consultants-section-body .section-heading p {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  #meet-consultants .consultants-section-body .section-heading {
    flex-direction: column;
  }
  #meet-consultants .consultants-section-body .section-heading h1 {
    width: 100%;
  }
  #meet-consultants .consultants-section-body .section-heading p {
    width: 100%;
  }
}
#meet-consultants .consultants-section-body .all-consultants {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant img {
  width: 100%;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .btn {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  border-radius: 0px;
  padding: 0;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .offcanvas .offcanvas-body p {
  font-weight: 900;
  margin: 0;
  margin-top: 20px;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .all-events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .all-events .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .all-events .btn .event-name {
  font-size: 16px;
  font-weight: 700;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .modal-body p {
  text-align: center;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .modal-body p span {
  font-weight: 900;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .modal-body .part-of-day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  justify-content: space-around;
}
#meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .modal-body .part-of-day .am-time, #meet-consultants .consultants-section-body .all-consultants .single-consultant .consultant-data .modal .modal-dialog .modal-body .part-of-day .pm-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  #meet-consultants .consultants-section-body .all-consultants {
    flex-wrap: wrap;
  }
}

#all-bestsellers .container .section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  #all-bestsellers .container .section-heading {
    flex-direction: column;
    align-items: start;
  }
}
#all-bestsellers .container .section-body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
}
#all-bestsellers .container .section-body .responsive-heading-of-section {
  display: none;
  width: 100%;
}
#all-bestsellers .container .section-body .responsive-heading-of-section .mobile-btn {
  border-radius: 0;
  border: 1px solid black;
  padding: 10px 50px;
}
#all-bestsellers .container .section-body .responsive-heading-of-section .mobile-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#all-bestsellers .container .section-body .responsive-heading-of-section .mobile-filter .mobile-filter-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  #all-bestsellers .container .section-body .responsive-heading-of-section {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: start;
    gap: 20px;
  }
}
#all-bestsellers .container .section-body .filter-part {
  width: 400px;
}
#all-bestsellers .container .section-body .filter-part .filter-head {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#all-bestsellers .container .section-body .filter-part .filter-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
#all-bestsellers .container .section-body .filter-part .filter-body .btn {
  width: 100%;
  text-align: start;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 10px;
}
#all-bestsellers .container .section-body .filter-part .filter-body .collapse .btn {
  border: none;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0;
}
@media screen and (max-width: 767px) {
  #all-bestsellers .container .section-body .filter-part {
    display: none;
  }
}
#all-bestsellers .container .section-body .bestsellers-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#all-bestsellers .container .section-body .bestsellers-part .featured {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
#all-bestsellers .container .section-body .bestsellers-part .featured .dropdown .dropdown-menu .btn {
  width: 100%;
  text-align: start;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  #all-bestsellers .container .section-body .bestsellers-part .featured {
    display: none;
  }
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller img {
  width: 100%;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller #modal-btn {
  color: black;
}
#all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller #modal-btn:hover {
  color: white;
}
@media screen and (max-width: 1200px) {
  #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller #modal-btn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products .single-bestseller {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #all-bestsellers .container .section-body .bestsellers-part .all-bestseller-products {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  #all-bestsellers .container .section-body {
    flex-direction: column;
  }
}

footer {
  padding: 50px 0;
}
footer .container .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
}
footer .container .headings .heading {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
footer .container .headings .heading p {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
footer .container .headings .heading ul {
  padding-left: 0;
}
footer .container .headings .heading ul li {
  margin-bottom: 10px;
}
footer .container .headings .heading ul li a {
  font-weight: 100;
  font-size: 16px;
  color: black;
  border-bottom: 1px solid transparent;
}
footer .container .headings .heading ul li a:hover {
  transition: 0.8s;
  border-bottom-color: black;
}
@media screen and (max-width: 1024px) {
  footer .container .headings {
    flex-wrap: wrap;
  }
  footer .container .headings .heading {
    width: 30%;
  }
}
@media screen and (max-width: 567px) {
  footer .container .headings {
    flex-wrap: wrap;
  }
  footer .container .headings .heading {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */